*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* background-image: url(awe-backgrounds/cloudy.jpg); */
    background-size: cover;
}

.info {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 2rem auto;
    width: 85%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-family: "Noto Sans", sans-serif;
}

.temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.temp-comment {
    margin: 1rem;
}

.temp-info {
    /* width: 50%; */
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.temp-info span {
    margin: 0 0.5rem;
}

.forecast {
    margin: 1.3rem;
}

.remove {
    display: none;
}

@media (min-width: 400px) {
    .temp-info span {
        margin: 0 1rem;
    }
}

@media (max-width: 330px) {
    .temp-info {
        display: flex;
        flex-direction: column;
    }
    .temp-info span {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 700px) {
    .info {
        width: 60%;
    }
}

@media (min-width: 1000px) {
    .info {
        width: 50%;
    }
}

@media (min-width: 2000px) {
    .info {
        width: 40%;
    }
}